.new-password {
    width: 100%;
    height: 100vh;
    min-width: 320px;
    padding-top: 70px;
}
.new-password__image-container {
    width: 150px;
    margin: 0 auto;
}
.new-password__image-container img {
    width: 150px;
    height: 30px;
}
.new-password__text-container {
    height: auto;
    width: 90%;
    max-width: 350px;
    min-width: 280px;
    margin: 0 auto;
    padding-top: 70px;
    text-align: center;
}
.new-password__text-container .form__h1 {
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.new-password__text-container p {
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-weight: 400;
    color: #797979;
}
.new-password__form-container {
    width: 90%;
    min-width: 280px;
    max-width: 350px;
    height: auto;
    margin: 0 auto;
    padding-top: 40px;
}
.new-password__form-container .new-password__form {
    display: flex;
    flex-direction: column;
}
.new-password__label {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 700;
    margin-bottom: 5px;
}
.input__new-password {
    height: 42px;
    margin-bottom: 25px;
    padding-left: 10px;
    border: 1px solid #F7F7F7;
    background-color: #F7F7F7;
    border-radius: 10px;
}
.new-password__button {
    margin-top: 10px;
    height: 60px;
    width: 100%;
    max-width: 350px;
    background-color: #ACD9B2;
    border: 1px solid #ACD9B2;
    border-radius: 10px;
    font-size: 1.8rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    line-height: 2.2rem;
    color: white;
}
@media (min-width: 720px) {
    .new-password__image-container {
    display: none;
    }
}