.dashboard-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 30px 50px 60px 50px;
}
.dashboard-products-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}
.add-product__button {
    color: white;
    background-color: var(--hospital-green);
    width: 120px;
    height: 40px;
    border-radius: 6px;
    border-color: transparent;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}
.add-product__button:hover {
    opacity: 0.7;
}
.products-table-header__section {
    display: grid;
    grid-template-columns: 250px 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
}
.products-table-header__section > div {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 10px 20px;
    font-size: 1.4rem;
    color: var(--hospital-green);
    font-weight: 700;
    min-width: 120px;
}
.products-table-header__section > div > p {
    height: 30px;
}
.products-table-row__section {
    display: grid;
    grid-template-columns: 250px 1fr 1fr 1fr 1fr 1fr;
}
.products-table-row__section > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 10px 20px;
    gap: 20px;
    height: auto;
    font-size: 1.2rem;
    font-weight: 500;
    border: 1px solid var(--hospital-green);
    min-width: 120px;
}
.products-table-row__section > div > p {
    height: 30px;
}
.products-table-row__section .left-column p {
    width: 70px;
    word-wrap: break-word;
}
.products-table-row__section .right-column img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.products-table-row__section .right-column .action-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.products-table-row__section .right-column .action-icon:hover {
    transform: scale(1.2);
}
.products-table-row__section .right-column {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
@media(max-width: 1000px) {
    .dashboard-section {
        padding: 30px 20px 60px 20px;
    }
    .dashboard-products-table {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .products-table-header__section {
        grid-template-rows: repeat(7, minmax(auto));
        grid-template-columns: none;
    }
    .products-table-header__section > div {
        height: 48px;
    }
    .first-header-item {
        border-radius: 6px 0px 0px 0px;
    }
    .first-row-item {
        border-radius: 0px 6px 0px 0px;
    }
    .last-row-item {
        border-radius: 0px 0px 6px 0px;
    }
    .products-table-row__section {
        grid-template-rows: repeat(7, minmax(auto));
        grid-template-columns: none;
    }
    .dashboard-products-table .first-row {
        height: auto;
        background-color: gray;
        font-weight: 700;
        border-color: transparent;
        font-size: 1.5rem;
        color: white;
    }
    .dashboard-products-table .first-row {
        height: 110px;
    }
    .products-table-row__section > div {
        height: 48px;
    }
}