.total-card__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 400px;
    height: 75px;
    margin-bottom: 20px;
    background-color: #F7F7F7;
    border-radius: 10px;
}
.total-card__container .left-text__container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.total-card__container .left-text__container span {
    font-size: 1.6rem;
    font-weight: bold;
    color: #000000;
}
.total-card__container .left-text__container .articles {
    font-size: 1.4rem;
    font-weight: 400;
    color: #797979;
}
