:root {
  --very-light-pink: #C7C7C7;
  --text-input-field: #F7F7F7;
  --hospital-green: #ACD9B2;
  --white: #FFFFFF;
  --black: #000000;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body {
  font-family: "Quicksand", sans-serif;
  position: relative;
}
main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
}